.create-post-wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    padding:40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.new-post-space{
    border: 2px solid #dfdfdf;
    display: flex;
    width: 40%;
    height: 100%;
    border-radius: 8px;
    background-color: #ffffff;
    flex-direction: column;
    overflow: hidden;
}
#cover-img-wrapper{
    width: 100%;
    height: max-content;
    padding: 20px 20px;
    display: flex;
    align-items: center;
}

#cover-img-configure-wrapper{
}
#cover-img-configure-wrapper > button{
    padding: 8px;
    margin: 0 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

#cover-img-configure-wrapper > button:first-child{
    border: none;
    outline: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #4dc98b;
}
#cover-img-configure-wrapper > button:last-child{
    border: 2px solid transparent;
    background: transparent;
    border-radius: 4px;
    color: #f33737;
}
#cover-img-configure-wrapper > button:last-child:hover{
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}
#cover-img-picker-btn{
    padding: 8px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #ffffff;
    background-color: #4d91c9;
    letter-spacing: 0.5px;
}
#cover-img{
    height: 100px;
    border: none;
    outline: none;
    margin: 0 10px ;
}
#blog-title-wrapper{
    padding: 20px;
    position: relative;
}

#title-field{
    outline: none;
    font-size: 40px;
    border: none;
    background:transparent;
    color: #333333;
    font-weight: bold;
    line-height: 55px;
    word-wrap: break-word;


}
#title-placeholder{
    position: fixed;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: #a0a0a0;
    pointer-events: none;
    
}
#tag-space-wrapper{
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;

}
#tag-field-wrapper{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}
#tag-field{
    border: none;
    outline: none;
    height: auto;
    min-height: 24px;
    font-size: 20px;
    width: 100%;
}
#tag-btn > span{
    margin: 0 2px;
}
#tag-cancel-btn{
    border: none;
    outline: none;
    text-align: center;
    font-size: 30px;
    background-color: transparent;
}
#tag-btn{
    padding: 4px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    margin-right: 4px;
    margin-bottom: 4px;
}
#cancel-btn{
    border: none;
    outline: none;
    font-size: 30px;
    background-color: transparent;
}
#cancel-btn:hover{
    color: #f33737;
}

.text-editor-field-controller{
    padding: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#editor-control-box{
    padding:10px 4px;
    background-color: #f5f8f8;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
#control-btn{
    margin: 0 4px;
    text-align: center;
    font-size: 20px;
    padding: 4px 6px;
    width: 40px;
    margin-right: 4px;
    background: transparent;
    border: none;
    outline: none;
}

#control-btn:hover{
    background-color: #e5f0ef;
    color: #72c7be;
    border-radius: 6px;
}
.text-editor-wrapper{
    height: 100%;
}

#text-area{
    resize: none;
    width: 100%;
    padding: 20px;
    height: 100%;
    font-size: 18px;
    line-height: 30px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
#control-btn-wrapper{
    position: relative;
}
#control-btn-definer{
    position: absolute;
    color: #ffffff;
    padding: 6px ;
    bottom: -34px;
    background-color: #3d3d3d;
    border-radius: 4px;
    font-size: 14px;
    width: max-content;
}
.publish-post-btn-wrapper{
    margin: 20px 0;
    width: 40%;
}
#publish-btn{
    background-color: #3576ee;
    padding: 10px 14px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    color: #ffffff;
}

#publish-btn:hover{
    background-color: #2055b8;
}
#raw-text-area{
    resize: none;
    width: 100%;
    padding: 20px;
    height: 100%;
    font-size: 18px;
    line-height: 30px;
    border: none;
    outline: none;
    box-sizing: border-box;
}